<div id="categories">
  <div class="category-item">
    <a class="category-item-title" href="#">Apps</a>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
          fill="none"
          stroke="#F42"
          stroke-width="3"
          stroke-miterlimit="10"
          d="M4.75 1.5l6.5 6.5-6.5 6.5"
        />
      </svg>
    </span>

    <ul class="category-item-list">
      <li
        class="category-item-list-popular"
        data-category-item-bg-image="./src/img/ToTok.jpg"
      >
        <article>
          <header>
            <h5>Most popular</h5>
            <h3>
              <a href="#"
                >The UAE is reportedly spying on millions of ToTok messenger
                users</a
              >
            </h3>
            <a href="#">Abhimanyu Ghoshal</a>
            <time
              datetime="2019-12-23T08:58:45+00:00"
              data-full-date="Dec 23, 2019 - 03:58"
              >11 hours ago</time
            >
          </header>
        </article>
      </li>

      <li class="category-item-list-latest">
        <article>
          <header>
            <div>
              <h5>Latest</h5>
              <h4>
                US Navy officers can't use TikTok on government-issued phones
                because it's a 'cybersecurity threat'
              </h4>
            </div>
            <img src="src/img/tiktok.png" alt="TikTok" />
          </header>
        </article>
      </li>

      <li class="category-item-list-rest">
        Instagram influencers can no longer promote vaping, guns, or cigarettes
      </li>
      <li class="category-item-list-rest">
        Your annual reminder that Facebook tracks you even with location
        settings turned off
      </li>
      <li class="category-item-list-rest">
        Facebook owns the four most popular apps of the decade
      </li>
      <li class="category-item-list-rest">
        Microsoft wants devs to submit Chromium Edge add-ons ahead of its launch
      </li>
      <li class="category-item-list-rest">
        Instagram's AI now warns you if your caption is offensive
      </li>
    </ul>
  </div>

  <div class="category-item">
    <a class="category-item-title" href="#">Gear</a>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
          fill="none"
          stroke="#F42"
          stroke-width="3"
          stroke-miterlimit="10"
          d="M4.75 1.5l6.5 6.5-6.5 6.5"
        />
      </svg>
    </span>

    <ul class="category-item-list">
      <li
        class="category-item-list-popular"
        data-category-item-bg-image="./src/img/hqdefault.jpg"
      >
        <article>
          <header>
            <h5>Most popular</h5>
            <h3>
              <a href="#"
                >Uniqlo's new robots can pick up and pack t-shirts just like
                human workers</a
              >
            </h3>
            <a href="#">Abhimanyu Ghoshal</a>
            <time
              datetime="2019-12-23T08:58:45+00:00"
              data-full-date="Dec 23, 2019 - 03:58"
              >11 hours ago</time
            >
          </header>
        </article>
      </li>

      <li class="category-item-list-latest">
        <article>
          <header>
            <div>
              <h5>Latest</h5>
              <h4>
                9 things I learned building my first PC (that I wish I knew
                before)
              </h4>
            </div>
            <img src="src/img/learned-building-pc.jpg" alt="TikTok" />
          </header>
        </article>
      </li>

      <li class="category-item-list-rest">
        A love letter to my most loyal companion, the Fujifilm X100F
      </li>
      <li class="category-item-list-rest">
        Review: Vankyo's MatrixPad Z10 is a budget-friendly tablet with a big,
        bright screen
      </li>
      <li class="category-item-list-rest">
        All I want for Xmas: A macOS Catalina Music app that doesn't suck
      </li>
      <li class="category-item-list-rest">
        TNW Gifts: Speakers and headphones for audiophiles and music lovers
      </li>
      <li class="category-item-list-rest">
        300-word review: The Sonos Move is a great (but pricey) wireless speaker
      </li>
    </ul>
  </div>

  <div class="category-item">
    <a class="category-item-title" href="#">Tech</a>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
          fill="none"
          stroke="#F42"
          stroke-width="3"
          stroke-miterlimit="10"
          d="M4.75 1.5l6.5 6.5-6.5 6.5"
        />
      </svg>
    </span>

    <ul class="category-item-list">
      <li
        class="category-item-list-popular"
        data-category-item-bg-image="./src/img/cat-chess.jpg"
      >
        <article>
          <header>
            <h5>Most popular</h5>
            <h3>
              <a href="#"
                >Why your cat is lousy at chess yet way smarter than even the
                most advanced AI</a
              >
            </h3>
            <a href="#">The Conversation</a>
            <time
              datetime="2019-12-23T08:58:45+00:00"
              data-full-date="Dec 23, 2019 - 03:58"
              >17 hours ago</time
            >
          </header>
        </article>
      </li>

      <li class="category-item-list-latest">
        <article>
          <header>
            <div>
              <h5>Latest</h5>
              <h4>
                We forced an actual designer to review our writers' DIY article
                images
              </h4>
            </div>
            <img src="src/img/designer.png" alt="TikTok" />
          </header>
        </article>
      </li>

      <li class="category-item-list-rest">
        12 ear-tingling podcasts we LOVED in 2019
      </li>
      <li class="category-item-list-rest">
        How birds drop ‘unnecessary’ genes can help us understand evolution
      </li>
      <li class="category-item-list-rest">
        Why your cat is lousy at chess yet way smarter than even the most
        advanced AI
      </li>
      <li class="category-item-list-rest">
        Human art evades understanding so how will we ever ‘get’ machinic art?
      </li>
      <li class="category-item-list-rest">
        How the digital revolution can tackle the climate crisis
      </li>
    </ul>
  </div>

  <div class="category-item">
    <a class="category-item-title" href="#">Creative</a>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
          fill="none"
          stroke="#F42"
          stroke-width="3"
          stroke-miterlimit="10"
          d="M4.75 1.5l6.5 6.5-6.5 6.5"
        />
      </svg>
    </span>

    <ul class="category-item-list">
      <li
        class="category-item-list-popular"
        data-category-item-bg-image="./src/img/slam-button.png"
      >
        <article>
          <header>
            <h5>Most popular</h5>
            <h3><a href="#">How to design better buttons</a></h3>
            <a href="#">Michal Malewicz</a>
            <time
              datetime="2019-12-23T08:58:45+00:00"
              data-full-date="Dec 23, 2019 - 03:58"
              >3 days ago</time
            >
          </header>
        </article>
      </li>

      <li class="category-item-list-latest">
        <article>
          <header>
            <div>
              <h5>Latest</h5>
              <h4>
                Giphy debuts Arcade, a platform for making and playing
                'microgames'
              </h4>
            </div>
            <img src="src/img/Giphy-Arcade.jpg" alt="TikTok" />
          </header>
        </article>
      </li>

      <li class="category-item-list-rest">
        Microsoft's new font for devs is very aesthetically pleasing (and free)
      </li>
      <li class="category-item-list-rest">
        How to build a production and recording studio that fits in a backpack
      </li>
      <li class="category-item-list-rest">
        Watch: Disney’s new anti-vibration tech maps CGI movements onto actual
        robots
      </li>
      <li class="category-item-list-rest">
        [Best of 2019] Chinese vertical dramas made for phone viewing show the
        future of mobile video
      </li>
      <li class="category-item-list-rest">
        Sorry, but you can’t copyright a meme
      </li>
    </ul>
  </div>

  <div class="category-item">
    <a class="category-item-title" href="#">Podium</a>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
          fill="none"
          stroke="#F42"
          stroke-width="3"
          stroke-miterlimit="10"
          d="M4.75 1.5l6.5 6.5-6.5 6.5"
        />
      </svg>
    </span>

    <ul class="category-item-list">
      <li
        class="category-item-list-popular"
        data-category-item-bg-image="./src/img/influencers.png"
      >
        <article>
          <header>
            <h5>Most popular</h5>
            <h3>
              <a href="#"
                >Effective influencer marketing in 2020 will hinge on ‘creator’
                direction</a
              >
            </h3>
            <a href="#">Aaron Brooks</a>
            <time
              datetime="2019-12-23T08:58:45+00:00"
              data-full-date="Dec 23, 2019 - 03:58"
              >2 days ago</time
            >
          </header>
        </article>
      </li>

      <li class="category-item-list-latest">
        <article>
          <header>
            <div>
              <h5>Latest</h5>
              <h4>2020 will mark the death of the chatbot as we know it</h4>
            </div>
            <img src="src/img/roboto.png" alt="TikTok" />
          </header>
        </article>
      </li>

      <li class="category-item-list-rest">
        Why the 2020 streaming wars will be won by robots
      </li>
      <li class="category-item-list-rest">
        2020 will see AI move from buzzwords to solutions
      </li>
      <li class="category-item-list-rest">
        Best CBD gummies: your holiday guide to CBD
      </li>
      <li class="category-item-list-rest">
        How binarized networks work — and why they’ll be big for AI in 2020
      </li>
      <li class="category-item-list-rest">
        The shared economy comes to advertising
      </li>
    </ul>
  </div>

  <div class="category-item">
    <a class="category-item-title" href="#">Insights</a>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
          fill="none"
          stroke="#F42"
          stroke-width="3"
          stroke-miterlimit="10"
          d="M4.75 1.5l6.5 6.5-6.5 6.5"
        />
      </svg>
    </span>

    <ul class="category-item-list">
      <li
        class="category-item-list-popular"
        data-category-item-bg-image="./src/img/sandwich-hacker.png"
      >
        <article>
          <header>
            <h5>Most popular</h5>
            <h3>
              <a href="#"
                >Here’s how law enforcement catches cryptocurrency criminals</a
              >
            </h3>
            <a href="#">Yessi Bello Perez</a>
            <time
              datetime="2019-12-23T08:58:45+00:00"
              data-full-date="Dec 23, 2019 - 03:58"
              >3 hours ago</time
            >
          </header>
        </article>
      </li>

      <li class="category-item-list-latest">
        <article>
          <header>
            <div>
              <h5>Latest</h5>
              <h4>
                13 fun Bitcoin and blockchain tweets that epitomize this wild
                industry
              </h4>
            </div>
            <img src="src/img/bitcoin.jpg" alt="TikTok" />
          </header>
        </article>
      </li>

      <li class="category-item-list-rest">
        Greece suspends extradition of alleged launderer for Bitcoin 'stolen'
        from Mt Gox
      </li>
      <li class="category-item-list-rest">
        Hackers steal $480,000 worth of NULS cryptocurrency from its dev team
      </li>
      <li class="category-item-list-rest">
        Moonday Mornings: Alleged billion-dollar Bitcoin launderer extradited to
        France
      </li>
      <li class="category-item-list-rest">
        2019's juiciest crypto drama: The saga of OneCoin’s $4B ‘cryptocurrency’
        scam
      </li>
      <li class="category-item-list-rest">
        Bitcoin and blockchain books for every reading level — from baby to big
        brain
      </li>
    </ul>
  </div>

  <div class="category-item">
    <a class="category-item-title" href="#">Launch</a>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
          fill="none"
          stroke="#F42"
          stroke-width="3"
          stroke-miterlimit="10"
          d="M4.75 1.5l6.5 6.5-6.5 6.5"
        />
      </svg>
    </span>

    <ul class="category-item-list">
      <li
        class="category-item-list-popular"
        data-category-item-bg-image="./src/img/Amazon-Prime-Fresh.jpg"
      >
        <article>
          <header>
            <h5>Most popular</h5>
            <h3>
              <a href="#"
                >PSA: Amazon Fresh grocery deliveries are now free for US Prime
                members</a
              >
            </h3>
            <a href="#">Abhimanyu Ghoshal</a>
            <time
              datetime="2019-12-23T08:58:45+00:00"
              data-full-date="Dec 23, 2019 - 03:58"
              >11 hours ago</time
            >
          </header>
        </article>
      </li>

      <li class="category-item-list-latest">
        <article>
          <header>
            <div>
              <h5>Latest</h5>
              <h4>
                Alexis Ohanian and Serj Tankian team up to help build a social
                network for Armenia
              </h4>
            </div>
            <img
              src="src/img/Press-Conference-with-Eric-Esrailian-Alexis-Ohanian-Hakob-Arshakyan-Yervant-Zorian-and-Serj-Tankian-hed.jpg"
              alt="TikTok"
            />
          </header>
        </article>
      </li>

      <li class="category-item-list-rest">
        Google Assistant gets its own phone number in India
      </li>
      <li class="category-item-list-rest">
        Pam and Angela from The Office are re-watching the show for their new
        podcast
      </li>
      <li class="category-item-list-rest">
        Bethesda wants you to test its game streaming tech with DOOM on iOS this
        year
      </li>
      <li class="category-item-list-rest">
        Mozilla rolls out new automated crypto-jacking filtering in Firefox
      </li>
      <li class="category-item-list-rest">
        Google announces Stadia, its cross-platform game streaming service
      </li>
    </ul>
  </div>

  <div class="category-item">
    <a class="category-item-title" href="#">Distract</a>
    <span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path
          fill="none"
          stroke="#F42"
          stroke-width="3"
          stroke-miterlimit="10"
          d="M4.75 1.5l6.5 6.5-6.5 6.5"
        />
      </svg>
    </span>

    <ul class="category-item-list">
      <li
        class="category-item-list-popular"
        data-category-item-bg-image="./src/img/designer2.png"
      >
        <article>
          <header>
            <h5>Most popular</h5>
            <h3>
              <a href="#"
                >We forced an actual designer to review our writers' DIY article
                images</a
              >
            </h3>
            <a href="#">Callum Booth</a>
            <time
              datetime="2019-12-23T08:58:45+00:00"
              data-full-date="Dec 23, 2019 - 03:58"
              >7 hours ago</time
            >
          </header>
        </article>
      </li>

      <li class="category-item-list-latest">
        <article>
          <header>
            <div>
              <h5>Latest</h5>
              <h4>
                Over a decade later, I'm still fascinated by Techno Viking
              </h4>
            </div>
            <img src="src/img/techno-viking-technoviking.jpg" alt="TikTok" />
          </header>
        </article>
      </li>

      <li class="category-item-list-rest">
        You can now stream every Radiohead album for free on YouTube
      </li>
      <li class="category-item-list-rest">
        Just putting it out there: Ban Wi-Fi on airplanes
      </li>
      <li class="category-item-list-rest">
        6 cheesy life lessons that playing Bejeweled taught me
      </li>
      <li class="category-item-list-rest">
        All I want for Christmas: A custom username for each subreddit
      </li>
      <li class="category-item-list-rest">
        We watched almost 13 billion hours of live streams in 2019
      </li>
    </ul>
  </div>
</div>
