<section id="deals">
  <header class="deals-header">
    <h2>
      <a href="#">Latest deals</a>
      <span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
          <path
            fill="none"
            stroke="#F42"
            stroke-width="3"
            stroke-miterlimit="10"
            d="M4.75 1.5l6.5 6.5-6.5 6.5"
          />
        </svg>
      </span>
    </h2>
    <a class="deals-header-more" href="#">See all Deals </a>
  </header>
  <ul class="deals-story-group">
    <li>
      <div class="deals-story">
        <a href="#" class="story-image-1"></a>
        <div class="story-discount">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
            <path fill="#FC0" d="M80 0H0l80 80" />
          </svg>
          <div>98% off</div>
        </div>
        <h4 class="story-title">
          <a href="#"
            >Seobility All-In-One SEO Software & Tools: Lifetime Subscription</a
          >
        </h4>
        <div class="story-deal-price">
          <span class="story-dealPrice-old">$1890</span>
          <span class="story-dealPrice-new">$29</span>
        </div>
      </div>
    </li>
    <li>
      <div class="deals-story">
        <a href="#" class="story-image-2"></a>
        <div class="story-discount-hidden">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
            <path fill="#FC0" d="M80 0H0l80 80" />
          </svg>
          <div>98% off</div>
        </div>
        <h4 class="story-title">
          <a href="#">Learn How to Draw Freebie Bundle</a>
        </h4>
        <div class="story-deal-price">
          <span class="story-dealPrice-old">$0</span>
          <span class="story-dealPrice-new">$0</span>
        </div>
      </div>
    </li>
    <li>
      <div class="deals-story">
        <a href="#" class="story-image-3"></a>
        <div class="story-discount">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
            <path fill="#FC0" d="M80 0H0l80 80" />
          </svg>
          <div>95% off</div>
        </div>
        <h4 class="story-title">
          <a href="#">SERPstash Premium: Lifetime Subscription</a>
        </h4>
        <div class="story-deal-price">
          <span class="story-dealPrice-old">$500</span>
          <span class="story-dealPrice-new">$24</span>
        </div>
      </div>
    </li>
    <li>
      <div class="deals-story">
        <a href="#" class="story-image-4"></a>
        <div class="story-discount">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
            <path fill="#FC0" d="M80 0H0l80 80" />
          </svg>
          <div>92% off</div>
        </div>
        <h4 class="story-title">
          <a href="#"
            >12min Micro Book Library: Lifetime Premium Subscription</a
          >
        </h4>
        <div class="story-deal-price">
          <span class="story-dealPrice-old">$346.50</span>
          <span class="story-dealPrice-new">$29</span>
        </div>
      </div>
    </li>
    <li>
      <div class="deals-story">
        <a href="#" class="story-image-5"></a>
        <div class="story-discount">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
            <path fill="#FC0" d="M80 0H0l80 80" />
          </svg>
          <div>98% off</div>
        </div>
        <h4 class="story-title">
          <a href="#">The Premium 2020 Learn to Code Certification Bundle</a>
        </h4>
        <div class="story-deal-price">
          <span class="story-dealPrice-old">$2700</span>
          <span class="story-dealPrice-new">$45</span>
        </div>
      </div>
    </li>
    <li>
      <div class="deals-story">
        <a href="#" class="story-image-6"></a>
        <div class="story-discount">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
            <path fill="#FC0" d="M80 0H0l80 80" />
          </svg>
          <div>98% off</div>
        </div>
        <h4 class="story-title">
          <a href="#"
            >Zuitte 50+ Tools for Entrepreneurs: Lifetime Subscription</a
          >
        </h4>
        <div class="story-deal-price">
          <span class="story-dealPrice-old">$9480</span>
          <span class="story-dealPrice-new">$199</span>
        </div>
      </div>
    </li>
    <li>
      <div class="deals-story">
        <a href="#" class="story-image-7"></a>
        <div class="story-discount">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
            <path fill="#FC0" d="M80 0H0l80 80" />
          </svg>
          <div>83% off</div>
        </div>
        <h4 class="story-title">
          <a href="#">KeepSolid SmartDNS: Lifetime Subscription</a>
        </h4>
        <div class="story-deal-price">
          <span class="story-dealPrice-old">$239.40</span>
          <span class="story-dealPrice-new">$39.99</span>
        </div>
      </div>
    </li>
    <li>
      <div class="deals-story">
        <a href="#" class="story-image-8"></a>
        <div class="story-discount">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
            <path fill="#FC0" d="M80 0H0l80 80" />
          </svg>
          <div>50% off</div>
        </div>
        <h4 class="story-title">
          <a href="#">Matt's Flights Premium Subscriptions</a>
        </h4>
        <div class="story-deal-price">
          <span class="story-dealPrice-old">$49.99</span>
          <span class="story-dealPrice-new">$25</span>
        </div>
      </div>
    </li>
  </ul>
</section>
