<section id="latest-news">
  <h2>Latest News</h2>
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
      <path
        fill="none"
        stroke="#F42"
        stroke-width="3"
        stroke-miterlimit="10"
        d="M4.75 1.5l6.5 6.5-6.5 6.5"
      />
    </svg>
  </span>

  <div>
    <div class="latest-news-item">
      <img src="src/img/sandwich-hacker.png" alt="Sandwich Hacker" />
      <h3>
        Hackers steal $480,000 worth of NULS cryptocurrency from its dev team
      </h3>
      <p>David Canellis</p>
      <time
        datetime="2019-12-23T14:05:46+00:00"
        data-full-date="Dec 23, 2019 - 09:05"
        >1 hour ago</time
      >
    </div>

    <div class="latest-news-item">
      <img src="src/img/sale-primary.jpg" alt="Sale" />
      <h3>
        ProjectDue helps keep your business affairs straight -- and right now,
        it&rsquo;s over 90% off
      </h3>
      <p>TNW Deals</p>
      <time
        datetime="2019-12-23T13:00:00+00:00"
        data-full-date="Dec 23, 2019 - 08:00"
        >2 hours ago</time
      >
    </div>

    <div class="latest-news-item">
      <img src="src/img/ToTok.jpg" alt="ToTok" />
      <h3>
        The UAE is reportedly spying on millions of ToTok messenger users
      </h3>
      <p>Abhimanyu Ghoshal</p>
      <time
        datetime="2019-12-23T08:58:45+00:00"
        data-full-date="Dec 23, 2019 - 03:58"
        >6 hours ago</time
      >
    </div>

    <div class="latest-news-item">
      <img src="src/img/tiktok.png" alt="TikTok" />
      <h3>
        US Navy officers can't use TikTok on government-issued phones because
        it's a 'cybersecurity threat'
      </h3>
      <p>Abhimanyu Ghoshal</p>
      <time
        datetime="2019-12-23T08:51:57+00:00"
        data-full-date="Dec 23, 2019 - 03:51"
        >6 hours ago</time
      >
    </div>

    <div class="latest-news-item">
      <img src="src/img/Radiohead.jpg" alt="Radiohead" />
      <h3>You can now stream every Radiohead album for free on YouTube</h3>
      <p>Abhimanyu Ghoshal</p>
      <time
        datetime="2019-12-23T04:39:01+00:00"
        data-full-date="Dec 22, 2019 - 23:39"
        >10 hours ago</time
      >
    </div>

    <div class="latest-news-item">
      <img src="src/img/snowman.png" alt="Snowman" />
      <h3>
        How do you teach a car that a snowman won&rsquo;t walk across the road?
      </h3>
      <p>Aeon</p>
      <time
        datetime="2019-12-23T02:00:36+00:00"
        data-full-date="Dec 22, 2019 - 21:00"
        >13 hours ago</time
      >
    </div>

    <div class="latest-news-item">
      <img src="src/img/game-truck.png" alt="Game Truck" />
      <h3>
        How I used app store optimization to get my game downloaded 2M times
      </h3>
      <p>Oleg Yakubnekov</p>
      <time
        datetime="2019-12-23T00:00:03+00:00"
        data-full-date="Dec 22, 2019 - 19:00"
        >15 hours ago</time
      >
    </div>

    <div class="latest-news-item">
      <img src="src/img/streaming-wars.png" alt="Streaming Wars" />
      <h3>Why the 2020 streaming wars will be won by robots</h3>
      <p>Arash Pendari</p>
      <time
        datetime="2019-12-22T20:00:28+00:00"
        data-full-date="Dec 22, 2019 - 15:00"
        >19 hours ago</time
      >
    </div>
  </div>
</section>
