nav .main-navigation .sitemap-links,
nav .main-navigation .nav-company-links {
  line-height: var(--height);
}

nav {
  height: 80px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
}

#nav-sticky {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 6;
  background-color: rgb(255, 255, 255);

  transform: translateY(-32px);
}

#nav-sticky .nav-logo {
  display: block;
}

.nav-logo:hover .nav-popout {
  display: block;
}

.nav-popout {
  display: none;

  background: rgba(0, 0, 0, 0.95);
  position: absolute;
  top: 80px;
  left: 0;
  width: 106px;
}

.nav-popout li {
  text-align: center;
  line-height: 19px;
  padding: 6px 0;
}

.nav-popout li:hover a {
  color: rgb(255, 255, 255);
}

.nav-popout a {
  font-size: 13px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;
  color: hsla(0, 0%, 100%, 0.6);
}

.nav-logo {
  display: none;
}

.nav-logo > a {
  height: 48px;
  width: 106px;
  display: block;
  padding: 16px 22px;

  background: #f42;
  background: linear-gradient(to bottom right, #c09, #f42 85%);
}

.nav-logo > a:hover {
  background-image: url("./img/home.gif");
  background-size: cover;
  background-position: 50%;
}

.nav-logo svg {
  height: 16px;
  width: 66px;
}

nav .main-navigation {
  --height: 32px;
  --bgColor: #131313;
  height: var(--height);
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem;
  background-color: var(--bgColor);
}

nav .main-navigation a:hover {
  color: rgb(255, 255, 255);
}

nav .main-navigation ul li {
  display: inline-block;
  margin-right: 0.5rem;
}

nav .main-navigation ul li a {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.6);
}

nav .main-navigation ul li #active {
  color: rgb(255, 255, 255);
}

nav .main-navigation .dropdown-menu-toggle:hover > .dropdown-menu {
  z-index: 1;
  visibility: visible;
  transform: translateY(0);
}

nav .main-navigation .dropdown-menu a {
  padding: 0 0.8rem;
}

nav .main-navigation .dropdown-menu li:nth-child(odd) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav .main-navigation .dropdown-menu {
  position: absolute;
  top: var(--height);
  width: 220px;
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor);
  z-index: -1;
  visibility: hidden;
  transform: translateY(calc(var(--height) / 2));
  transition: transform 200ms ease-in 0s;
}

/* .nav-icons .icon-search-dark  */

.nav-items {
  display: flex;
  justify-content: space-between;
}

.logo-section {
  display: flex;
}

.nav-sections ul li {
  display: inline-block;
}

.nav-sections ul li a {
  font-family: Shentox, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #aaa;
  display: block;
  height: 48px;
  letter-spacing: 0.04em;
  line-height: 1;
  padding: 18px 10px 0;
}

.nav-sections ul li a:first-child {
  padding-left: 20px;
}

.nav-icons {
  display: block;
  height: 48px;
  width: 48px;
  opacity: 0.6;
  border-left: 1px solid gray;
}

.nav-icons span {
  display: block;
  padding: 16px;
}

@media screen and (max-device-width: 760px) {
  nav {
    height: 48px;
  }

  nav .nav-sections,
  nav .nav-company-links,
  nav .main-navigation {
    display: none;
  }

  #nav-sticky {
    transform: none;
  }
}

@media screen and (max-device-width: 760px) {
  .nav-logo {
    display: block;
  }
}

@media screen and (min-device-width: 761px) and (max-device-width: 1023px) {
  
  nav {
    height: 48px;
    width: 74rem;
  }
  nav .main-navigation {
    display: none;
  } 
  
  .nav-logo {
    display: block;
  }
}


@media screen and (min-device-width: 1024px) {
  nav {
    height: 80px;
    width: 74rem;
    margin: 0 auto;
  }
  
  .nav-logo {
    display: block;
  }
}