body {
  font-family: "ARS Maquette", Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
}

.width-full {
  max-width: 100vw;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

#introduction {
  display: flex;
  height: 60vh;
  padding: 4px;
  max-height: 560px;
}

.logo-overlay {
  flex-basis: 66.6%;
  position: relative;
  padding: 3px;
  /*   height: 60vh; */
}

.main-article-img {
  height: 100%;
  background-image: linear-gradient(170deg,
  rgba(255, 68, 34, 0.8) 40%, rgba(0, 0, 0, 0.73)),
  url(./img/main-article-img.jpg);
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  z-index: 1;
}

.logo-overlay .logo i svg {
  max-height: 112px;
  max-width: 40%;
  width: 300px;
  top: 20px;
  left: 20px;
  position: absolute;
  z-index: 5;
}

.date {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 100%;
  font-family: "ARS Maquette", Helvetica Neue, Arial, sans-serif;
  font-weight: 300;
}

.cover-heading {
  position: absolute;
  z-index: 5;
  bottom: 10px;
  left: 20px;
  height: auto;;
}

.cover-heading h5 {
  font-family: Shentox, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1.5;
  margin: 0;
  color: #fff;
}

.cover-heading h2 {
  font-size: 1.8rem;
  line-height: 1;
  color: #fff;
  margin: 0;
  padding-bottom: 10px;
}

.cover-heading ul li {
  display: inline-block;
  vertical-align: middle;
}

.cover-heading ul li a {
  color: hsla(0, 0%, 100%, .6);
  font-size: 0.75rem;
  font-weight: 200;
}

.cover-heading ul li svg {
  margin-right: 2px;
  opacity: .6;
  vertical-align: middle;
  width: 0.75rem;
  height: 0.75rem;
}

@media screen and (max-device-width: 320px) {
  #introduction {
    flex-direction: column;
    min-height: 100vh;
  }

  #introduction .mid-article-wrap {
    flex-basis: 100%;
  }

  #introduction .side-article,
  #introduction .logo-overlay {
    min-height: 30vh;
    flex-basis: 0;
  }

  #introduction .logo-overlay .date,
  #introduction .logo-overlay .logo {
    display: none;
  }

  .main-article-img {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.2), rgba(0, 0, 0, 0.73)), url(./img/main-article-img.jpg);
  }
}

/*
Side Articles
 */
.mid-article-wrap {
  flex-basis: 33.3%; /* 33% or the header flex - direction row */
  position: relative;
  display: flex;
  flex-direction: column;
}

.side-article {
  flex-basis: 50%;
  position: relative;
  padding: 3px;
}

.side-article-img-1 {
  height: 100%;
  background-image: linear-gradient(to bottom,
  rgba(245, 246, 252, 0.2), rgba(0, 0, 0, 0.73)),
  url(./img/main-article-img-1.jpg);
  background-size: cover;
  background-position: 50%;
  z-index: 1;
  opacity: 1;
}

.side-article-img-2 {
  height: 100%;
  background-image: linear-gradient(to bottom,
  rgba(245, 246, 252, 0.2), rgba(0, 0, 0, 0.73)),
  url(./img/main-article-img-2.png);
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  z-index: 1;
}

.side-heading {
  position: absolute;
  z-index: 5;
  bottom: 10px;
  left: 20px;
  height: auto;
}

.side-heading h5 {
  font-family: Shentox, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1.5;
  margin: 0;
  color: #fff;
}

.side-heading h2 {
  font-size: 1.1rem;
  line-height: 1;
  color: #fff;
  margin: 0;
  padding-bottom: 6px;
}

.side-heading ul li {
  display: inline-block;
  vertical-align: middle;
}

.side-heading ul li a {
  color: hsla(0, 0%, 100%, .6);
  font-size: 0.75rem;
  font-weight: 200;
}

.side-heading ul li svg {
  margin-right: 2px;
  opacity: .6;
  vertical-align: middle;
  width: 0.75rem;
  height: 0.75rem;
}

@media screen and (max-device-width: 320px) {
  .cover-heading h2,
  .side-heading h2 {
    font-size: 1.4rem;
    font-family: Avalon, sans-serif;
  }
}

#latest-news {
  margin: 30px auto 0 auto;
  width: 74rem;
}

#latest-news h2,
#latest-news span {
  display: inline-block;
}

#latest-news h2 {
  color: #f42;
  margin-left: 12px;
  font-weight: 700;
  font-size: 1.8rem;
  font-family: Avalon, sans-serif;
}

#latest-news span svg {
  width: 16px;
  height: 16px;
}

#latest-news > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#latest-news .latest-news-item {
  --width: 270px;
  flex-basis: 25%;
  padding: 12px;
}

#latest-news .latest-news-item h3 {
  margin-bottom: 0;
}

#latest-news .latest-news-item img {
  width: 100%;
  height: 124px;
  max-width: var(--width);
  object-fit: cover;
}

#latest-news .latest-news-item p,
#latest-news .latest-news-item time {
  display: inline-block;
  color: #aaa;
  margin-top: 4px;
  font-size: 13px;
}

@media screen and (max-device-width: 320px) {
  #latest-news {
    max-width: 100vw;
  }

  #latest-news h2 {
    padding-left: 6px;
  }

  #latest-news > div {
    flex-direction: column;
    width: 95vw;
    margin: 0 auto;
  }

  #latest-news .latest-news-item {
    --width: 75px;
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 95px;
  /*   max-width: 100vw; */
  }

  #latest-news .latest-news-item img {
    width: var(--width);
    height: var(--width);
    float: left;
  }

  #latest-news .latest-news-item h3 {
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.0rem;
    margin:0;
    margin-left:90px;
    margin-right: 0px;

  }

  #latest-news .latest-news-item p {
    display: inline-block;
    margin-top: 6px;
    margin-left: 15px;
    font-size: 0.7rem;
  }
  
  #latest-news .latest-news-item time {
    display: inline;
    font-size: 0.7rem;
  }

}

/*
Latest funding rounds
*/
#latest-funding-rounds {
  margin: 30px auto 0 auto;
  width: 74rem;
}

.funding-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;

}

#latest-funding-heading {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: auto;
  align-items: center;
  margin: 0 10px;
}

#latest-funding-heading h2 span svg {
  width: 16px;
  height: 16px;
}

#latest-funding-heading h2 {
  color: #f42;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: Avalon, sans-serif;

}

#latest-funding-heading a {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #f42;
  text-decoration: none;
}

.dash-menu::after {
  content: "|";
  margin-left: 10px;
  margin-right: 10px;
}

.latest-funding-rounds-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 270px;
}

.latest-funding-rounds-item a {
  width: 270px;
}

.latest-funding-rounds-item a > h4 {
  background-color: #f42;
  color: #fff;
  font-size: 0.9rem;
  padding: 10px 16px 10px 84px;
  margin: 0;
}

.latest-funding-rounds-item a > div {
  padding: 10px 16px 10px 84px;
  color: #000;
  background: rgba(255, 68, 34, .08);
  margin: 0;
}

.latest-funding-rounds-item a > div > h4 {
  margin: 0;
  padding: 0;
  display: block;
}

.latest-funding-rounds-item a > div > h5 {
  color: #000;
  opacity: .5;
  font-family: Shentox, sans-serif;
  font-weight: 500;
  display: block;
  margin: 0;
  padding: 0;
}

.latest-funding-rounds-item img {
  width: 60px;
  height: 60px;
  position: absolute;
  margin: 10px;
}

.industry-company {
  width: 100%;
  background: #fffaf8;
}

.industry-company div {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;

}

.industry-company a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 300;
  width: 100%;
}

.industry-company a > span {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 10px;
}

.industry-company i {
  margin-top: 3px;
  padding-right: 10px;
}

.industry-company i svg {
  width: 16px;
  height: 16px;
}

.industry-company-funding {
  border-top: 1px solid rgba(255, 68, 34, .25);
  padding-top: 10px;
}

.industry-company-funding a,
.industry-company-funding a span {
  display: inline;
  width: 100%;
  margin: 0;
  font-size: 0.8rem;
}

.industry-company-funding a {
  font-weight: 200;
  color: #555;
  line-height: 1.3rem;
}

.industry-company-funding a span {
  color: #aaa;
}

@media screen and (max-device-width: 320px) {
  #latest-funding-heading,
  .funding-wrap {
    flex-direction: column;
    max-width: 100vw;
  }

  #latest-funding-rounds {
    max-width: 100vw;
  }
}

#categories {
  display: flex;
  flex-wrap: wrap;
  width: 74rem;
  margin: 30px auto 0 auto;
}

#categories .category-item {
  margin: 12px;
  --size: 270px;
  width: calc(var(--size) + 100px);
}

#categories header h5 {
  margin: 0;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: .04em;
  text-transform: uppercase;
  font-family: Shentox, sans-serif;
}

.category-item .category-item-title {
  display: inline-block;
  color: #f42;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 1.7rem;
  font-family: Avalon, sans-serif;
}

#categories span svg {
  width: 16px;
  height: 16px;
}

@media screen and (max-device-width: 320px) {
  #categories {
    flex-direction: column;
    max-width: 100vw;
  }

  #categories .category-item {
    --size: 100px;
  }
}


.category-item-list-popular {
  height: var(--size);
  width: calc(var(--size) + 100px);
  position: relative;
}

.category-item-list-popular article {
  position: absolute;
  bottom: 0;
  padding: 14px;
}

.category-item-list-popular header h3 {
  margin: 0 0 6px 0;
  font-size: 20px;
}

.category-item-list-popular header,
.category-item-list-popular header a {
  color: #fff;
}

.category-item-list-popular header > a,
.category-item-list-popular header > time {
  font-size: 12px;
  color: hsla(0, 0%, 100%, .6);
}

.category-item-list-popular header > a::after {
  content: '\B7';
  margin-left: 4px;
}

.category-item-list-latest {
  margin: 2px 0;
  background-color: rgba(255, 68, 34, .06);
}

.category-item-list-latest header {
  display: flex;
}

.category-item-list-latest header div {
  padding: 14px 10px 0 14px;
}

.category-item-list-latest header h5,
.category-item-list-latest header h4 {
  color: #f42;
}

.category-item-list-latest header h4 {
  margin: 0;
  font-size: 14px;
  max-height: 56px;
  font-family: "ARS Maquette", "Helvetica Neue", Arial, sans-serif;;
}

.category-item-list-latest img {
  width: 96px;
  height: 96px;
  object-fit: cover;
}

.category-item-list-rest {
  font-size: 13px;
  line-height: 20px;
  position: relative;
  color: rgb(85, 85, 85);
  padding: 6px 0 6px 14px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.1);
}

.category-item-list-rest:before {
  content: "";
  background-color: #f42;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 13px;
  left: 0;
  height: 4px;
  width: 4px;
}


/*
Latest Deals
 */

#deals {
  width: 74rem;
  margin: 30px auto 0 auto;
  padding-bottom: 100px;
}

@media screen and (max-device-width: 320px) {
  #deals {
    width: 100%;
  }
}

.deals-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 0px;
  margin: 0 10px;
}

.deals-header h2 a {
  display: inline-block;
  color: #f42;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 1.7rem;
  font-family: Avalon, sans-serif;
}

.deals-header span svg {
  width: 16px;
  height: 16px;
}

.deals-header a {
  color: #f42;
  text-decoration: none;
  line-height: 18px;
}

.deals-story-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.deals-story-group li {
  flex-basis: 25%;
  padding: 10px;
}

.deals-story {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.deals-story .story-image-1 {

  background-image: url(img/story-deal-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  margin-bottom: 8px;
  height: 0;
  width: 100%;
  padding-top: 74.5%; /* check with Daniel */
}

.story-discount {
  position: absolute;

  background-image: url(img/deals-ribbon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 80px;
  overflow: hidden;

  right: 0;
  top: 0;
  width: 80px;
  z-index: 10;
}

.story-discount div {
  transform: rotate(45deg);
  font-size: 0.9rem;
  font-weight: 700;
  left: 8px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  bottom: 60px;
  width: 100%;
  color: black;
}

.story-title {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1rem;
  margin-bottom: 10px;
  margin-top: 4px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.story-dealPrice-old {
  text-decoration: line-through;
  margin-right: 4px;
  color: #aaa;
  font-size: 0.8rem;
  font-weight: 200;
}

.story-dealPrice-new {
  color: #555;
  font-size: 0.9rem;
  font-weight: 400;
}

.story-title a {
  color: black;
  text-decoration: none
}

.story-title a:hover {
  color: #f42;
  text-decoration: underline;
}


.deals-story .story-image-2 {

  background-image: url(img/story-deal-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  margin-bottom: 8px;
  height: 0;
  width: 100%;
  padding-top: 74.5%; /* check with Daniel */
}

.deals-story .story-image-3 {

  background-image: url(img/story-deal-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  margin-bottom: 8px;
  height: 0;
  width: 100%;
  padding-top: 74.5%; /* check with Daniel */
}

.deals-story .story-image-4 {

  background-image: url(img/story-deal-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  margin-bottom: 8px;
  height: 0;
  width: 100%;
  padding-top: 74.5%; /* check with Daniel */
}

.deals-story .story-image-5 {

  background-image: url(img/story-deal-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  margin-bottom: 8px;
  height: 0;
  width: 100%;
  padding-top: 74.5%; /* check with Daniel */
}

.deals-story .story-image-6 {

  background-image: url(img/story-deal-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  margin-bottom: 8px;
  height: 0;
  width: 100%;
  padding-top: 74.5%; /* check with Daniel */
}

.deals-story .story-image-7 {

  background-image: url(img/story-deal-7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  margin-bottom: 8px;
  height: 0;
  width: 100%;
  padding-top: 74.5%; /* check with Daniel */
}

.deals-story .story-image-8 {

  background-image: url(img/story-deal-8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  margin-bottom: 8px;
  height: 0;
  width: 100%;
  padding-top: 74.5%; /* check with Daniel */
}

.story-discount-hidden {
  display: none;
}

/*
footer
*/

footer {
  background: #131313;
  padding-top: 42px;
}

.footer-social-links ul {
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}

.footer-social-links ul li {
  display: inline;
  margin: 0 8px;;
}

.footer-social-links ul li a {
  background: #333;
  border-radius: 50%;
  /*   display: block; */
  height: 40px;
  padding: 12px;
  text-align: center;
  width: 40px;
}

.footer-social-links ul li a i svg {
  position: relative;
  top: 3px;
}


.footer-page-links {
  padding-bottom: 28px;
}

.footer-page-links ul {
  display: flex;
  justify-content: center;
}

.footer-page-links ul li {
  margin: 0 6px;
}

.footer-page-links ul li a {
  text-transform: uppercase;
  color: #aaa;
  font-size: 0.75rem;
  font-weight: 300;

}

.footer-legal {
  padding: 3em 0;
  background: #000;
}

.footer-legal .wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
}

.footer-legal span {
  color: #aaa;
  font-size: 0.75rem;
}

.footer-legal span b {
  color: #f42;
}

.footer-legal .footer-legal-logoTNW svg {
  display: inline-block;
  height: 9px;
  margin-right: 1px;
}

.footer-legal .footer-logostackPath svg {
  display: inline-block;
  height: 9px;
  margin-right: 1px;
  vertical-align: baseline;
}

@media screen and (max-device-width: 320px) {
  footer .footer-social-links ul li:nth-child(6) {
    display: none;
  }

  footer .footer-page-links ul {
    flex-wrap: wrap;
  }
}
