@import "./partials/nav.css";
@import "./partials/introduction.css";
@import "./partials/latest-news.css";
@import "./partials/latest-funding-rounds.css";
@import "./partials/categories.css";
@import "./partials/deals.css";
@import "./partials/footer.css";

body {
  font-family: "ARS Maquette", Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
}

.width-full {
  max-width: 100vw;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
